@import '../styles/mixins';
:local(.styles) {
  font-family:$themeControlFont;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
/*
  ::selection {
    background: transparent;
  }
*/
  /* backdrop is used to track when user is outside the active control */
  .backdrop{
    z-index:99;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent ;
  }

  .wrapper-dropdown {
    /* Size & position */
    z-index:100;
    position: relative;
    width: 120px;
    margin: 0 auto;
    padding: 5px 10px;

    /* Styles */
    @include dropdown();
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    &:hover {
      @include dropdown-hover
    }
  }

  .wrapper-dropdown:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
   @include dropdown-arrow;
  }
  .wrapper-dropdown:hover:after { /* Little arrow */
    border-color: $themeDocumentInversePen transparent;
  }
  .wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;

    z-index:100;
    /* Styles */
    @include dropdown-dropdown();
    background:$themeDocumentColor;
    border-radius: 0 0 5px 5px;

    border-top: none;
   border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
  }



  .wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: $themeDocumentPen;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid $themeDividerColor;
  }

  .wrapper-dropdown .dropdown li:last-of-type a {
   border: none;
  }

  .wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
  }

  /* Hover state */

  .wrapper-dropdown .dropdown li:hover a {
    background-color:$themeBrandPrimaryAccent;
    color: $themeDocumentInversePen;
  }

  /* Active state */

  .wrapper-dropdown.active {
    border-radius: 5px 5px 0 0;
    @include dropdown-active;

    border-bottom: none;

  }


  .wrapper-dropdown.active .dropdown {
 //   border-bottom: 1px solid rgba(0,0,0,0.2);
@include dropdown-dropdown-active();
    border-top: none;
    max-height: 400px;
  }




}
