@import '../styles/mixins';
:local(.styles) {
  margin-top:10px;
  font-family:$themeControlFont;
label {
  display:block;
  font-size:.85rem;
    opacity: .65;
    color:$themeDocumentPen;
  }
  .error{
    display:block;

    font-size: .85rem;
    color:$themeDocumentWarningPen;


  }

  textarea{
    width:100%;
    display:block;
    resize:none;
    font-size: 1rem;
    padding-left:5px;
    margin: 3px 0;
    outline:none;
    border: solid 2px $themeDividerColor;
    &:focus {
      border: solid 2px $themeBrandPrimaryAccent
    }
    box-sizing:border-box;
  }
.input-error{
  @include input-focus-error();
}




}
