@import '../styles/mixins';

:local(.styles) {
  display: inline-block;
  button {
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: $themeControlFont;
    font-weight: 500;
    font-size: 1rem;
    &:focus {
      outline: 0;
    }
  }
  .primary {
    @include frame-primary();
    &:hover:not(.disabled) {
      @include frame-primary-hover();
    }
    &:active:not(.disabled) {
      @include frame-primary-active();
    }
  }
  .secondary {
    @include frame-secondary();
    &:hover:not(.disabled) {
      @include frame-secondary-hover();
    }
    &:active:not(.disabled) {
      @include frame-secondary-active();
    }
  }
  .inverse {
    @include frame-inverse();
    &:hover:not(.disabled) {
      @include frame-inverse-hover();
    }
    &:active:not(.disabled) {
      @include frame-inverse-active();
    }
  }
  .inverse-secondary {
    @include frame-inverse-secondary();
    &:hover:not(.disabled) {
      @include frame-inverse-secondary-hover();
    }
    &:active:not(.disabled) {
      @include frame-inverse-secondary-active();
    }
  }
  .warning {
    @include frame-warning();
    &:hover:not(.disabled) {
      @include frame-warning-hover();
    }
    &:active:not(.disabled) {
      @include frame-warning-active();
    }
  }
  .disabled{
    cursor: not-allowed;
    opacity:0.3;
    &:hover
    {box-shadow:none}

  }
  /* .secondary{
     @include frame-secondary()

   }
   .inverse{
     @include frame-inverse()
   }
   .warning{
     @include frame-warning()
   }*/
}
