@import '../styles/mixins';
:local(.styles) {
  font-family:$themeControlFont;
  *,
  *:after,
  *:before {
 //   box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /*
    ::selection {
      background: transparent;
    }
  */
  /* backdrop is used to track when user is outside the active control */
  .backdrop{
    z-index:99;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent ;
  }
 .default{
  color: $themeDocumentPen;
}
 .inverse{
    color: $themeDocumentInversePen;
  }
  .primary{
    color: $themeBrandPrimaryAccent;
  }
  .menu{
    span {
      margin-left: 5px;

    }
  }
  .wrapper-dropdown {
    /* Size & position */
    z-index:100;
    position: relative;
    width: 120px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;

    /* Styles */
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;

    &:hover {
     font-weight:bold;


    }


  }



  .wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    font-weight:normal;
    z-index:100;
    text-align:left;
    /* Styles */
    @include dropdown-dropdown();
    background:$themeDocumentColor;
    border-radius: 5px;



    list-style: none;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    border: 2px hidden;
    overflow: hidden;
  }



  .wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: $themeDocumentPen;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid $themeDividerColor;
  }

  .wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
  }

  .wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
  }

  /* Hover state */

  .wrapper-dropdown .dropdown li:hover a {
    background-color:$themeBrandPrimaryAccent;
    color: $themeDocumentInversePen;
  }

  /* Active state */




  .wrapper-dropdown.active .dropdown {
    //   border-bottom: 1px solid rgba(0,0,0,0.2);
    @include dropdown-dropdown-active();
   // border-top: none;
    max-height: 400px;
  }




}
