@import '../styles/theme';

:local(.styles) {
  display: inline-block;
  margin: 0;
  padding: 0;

  img {
    display: inline-block;
    width: auto;
    padding: 0px;
    margin: 0px 0px;
    border-radius: 50%;
    vertical-align: middle;
  }
}
