@import '../styles/mixins';
:local(.styles) {

  padding:0;
  z-index: 1;
  width: 100%;
  opacity: 1;

  .relative{
    position: relative;
    padding: .5rem 0;
    background: $themeBrandBackground;
    transition: all .75s ease-out;
  }

  .fixed{
    margin: 0;
    width:100%;
    float: left;
    position: fixed;
    padding: .5rem 0;
    background: transparent;
    transition: all .75s ease-out;
  }
  .fixed:hover{
    padding: .5rem 0;

  background: rgba($themeBrandBackground, .8);

  }
  .fixed-scroll{
    padding: .5rem 0;
    background: rgba($themeBrandBackground ,.8);
    transition: all .75s ease-out;
  }
  .logo h1{
    padding:.3rem 0 0;
    margin:0;
    font-size: 3rem
  }
  .fixed:hover h1,h2,p{
    color:$themeDocumentInversePen;
  }

}
