@import '../styles/theme';

:local(.styles) {
  .primary{
    font-family: $themeDocumentFont
  }

  .logo{
    font-family: $themeBrandFont
  }
  .control{
    font-family: $themeControlFont;
  }

  .normal{
    color: $themeDocumentPen
  }
  .inverse{
    color: $themeDocumentInversePen
  }
  .warning{
    color: $themeDocumentWarningPen
  }

}
