@import '../styles/mixins';
:local(.styles) {
  font-family:$themeControlFont;
label {
  display:block;
  font-size:.85rem;
    opacity: .65;
    color:$themeDocumentPen;
  }
  .error{
    display:block;

    font-size: .85rem;
    color:$themeDocumentWarningPen;


  }


  input{
    padding: 5px;
    margin: 3px 0;
    display:block;
    width:100%;
    outline:none;
    font-size: 1rem;
    @include input();
    &:focus {
      @include input-focus();
    }
  }


.input-error{
  @include input-focus-error();
}




}
