@import '../styles/mixins';
:local(.styles) {
  font-family:$themeControlFont;
  margin: 1rem 4rem 1rem 2rem;

  .item-wrapper{
    overflow: scroll;
    height: 70%;
  }
  .bar{ padding: 5px;

    background-color:$themeDividerColor
  }
  .column-head{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    &:nth-last-child(2){ text-align:center}
  }
  .search{
    display:block;
    float:right;

    input {

      width: 100%;
      font-size:1rem;
      padding: 2px 1.5rem;
      border-radius: 2px;
      border: none;
      &:focus {
        border-color: $themeBrandPrimaryAccent;
        outline: 0
      }
    }
    input {text-indent: 10px;}
    .fa-search{
      float: right;
      position: absolute;
      top: 5px;
      left: 20px;
    }
  }

  .item{
    padding: 5px;
    border-bottom:1px solid $themeDividerColor;
    &:nth-child(even){background-color:transparentize($themeDividerColor,0.8) }
  }

  .item .menu-wrapper {
    position: relative;
    top: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 100ms ease-in-out;
  }

  .item:hover .menu-wrapper {

    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    font-weight:100;
    transition: all 100ms ease-in-out;
  }

  .item .menu-wrapper {
    float: right;

  }
  .item:hover{
    cursor: hand;
    font-weight:500;
  }
  .col:nth-last-child(2){
    text-align:center;
  }


}
