@import '../styles/mixins';
:local(.styles) {
.normal{
  color:$themeDocumentPen;
  text-decoration: none;
}
  .inverse{
    color:$themeDocumentInversePen;
    text-decoration: none;
  }
  .warning{
    color:$themeDocumentWarningPen
    text-decoration: none;
  }

  :hover{
    text-decoration:underline;
  }

}
