@import '../styles/mixins';
:local(.styles) {
  font-family: $themeControlFont;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  label{
    display:block;
    font-size:.85rem;
    opacity: .65;

    color:$themeDocumentPen;
  }
  .btnGroup{

  //  border-top: 1px solid $themeDividerColor;
    border-radius:5px;
    padding: 4px 0;
      @include btn-group();
    &:hover{
      @include btn-group-hover();
  }
  }
  .button {

    @include btn-group-button();

    padding: 5px 10px;

    font-weight: 500;
    font-size: 1rem;

    background-color:$themeDocumentColor;


    &:focus {
      outline: 0;
    }
    &:hover{
      background-color: $themeDividerColor

    }

  }
  .button.selected{
    background-color: $themeBrandPrimaryAccent;
    color: $themeDocumentInversePen;
  }
  .button:active{
    background-color: darken($themeBrandPrimaryAccent,10%);
    color: $themeDocumentInversePen;
  }

  .button:last-child  {
    @include btn-group-last();
    border-radius: 0 5px 5px 0;
  }
  .button:first-child  {
    @include btn-group-first();
    border-radius: 5px 0 0 5px ;
  }
}
