@import '../styles/mixins';
:local(.styles) {

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 5s linear;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 2s linear;
  }
  .padding-none {
    padding: 0;
  }
  .padding-normal {
    padding: 5%;
  }
  .padding-extra {
    padding: 10%;
  }

  .outer {
    border: none;
  }

  .frame {
    border-radius:5px;
    @include card();
    &:hover {
      @include card-hover();
    }
  }
}