@import '../styles/mixins';
:local(.styles) {
  font-family:$themeControlFont;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /*
    ::selection {
      background: transparent;
    }
  */
  /* backdrop is used to track when user is outside the active control */
  .backdrop{
    z-index:99;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent ;
  }
  .label {
    display:block;
    font-size:.85rem;
    opacity: .65;
    color:$themeDocumentPen;
  }

  .wrapper-dropdown {
    /* Size & position */
    z-index:100;
    position: relative;
    width: 100%;

    padding:5px;
    margin: 3px 0;
    display:block;
    font-size: 1rem;



    /* Styles */
    @include input();


    cursor: pointer;
    outline: none;
    transition:  color,background-color,height 0.3s ease-out;

  }

  .wrapper-dropdown:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $themeBrandPrimaryAccent transparent;
  }

  .wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;

    z-index:100;
    /* Styles */
    @include select-dropdown();
    background:$themeDocumentColor;
    border-radius: 5px;

    border-top: transparent;
    border-bottom: transparent;
    list-style: none;
    transition: color,background,height 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
  }



  .wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: $themeDocumentPen;
    padding: 5px 10px;
    transition:  color,background,height 0.3s ease-out;
    border-bottom: 1px solid $themeDividerColor;
  }

  .wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
  }

  .wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
  }

  /* Hover state */

  .wrapper-dropdown .dropdown li:hover a {
    background-color:$themeBrandPrimaryAccent;
    color: $themeDocumentInversePen;
  }

  /* Active state */

  .wrapper-dropdown.active {


   // border-bottom: transparent;

  }


  .wrapper-dropdown.active .dropdown {
    //   border-bottom: 1px solid rgba(0,0,0,0.2);
    @include dropdown-dropdown-active();

    max-height: 400px;
  }




}
