@import '../styles/mixins';
:local(.styles) {
 font-family: $themeControlFont;



  .dialog{
    border-radius: 5px;
    position:fixed;
    z-index:1000;
    top: 25%;
    left: 25%;
    width:50%;
    height: auto;
    background-color: $themeBackgroundColor;
    padding: 10px;
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(0.5);

    transition: all 200ms ease;
    &.visible{

      opacity: 1;
      visibility: visible;
      transform: scale(1);
      @include modal();
    }


  }

  .backdrop{
    z-index:999;
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black ;
    transition: all 200ms ease;
    visibility:hidden;
    &.visible{
      opacity: .6;
      visibility: visible;
    }
  }

  .header{
    border-bottom: solid 1px $themeDividerColor;
    margin-bottom:20px;
    font-size: 1.5rem;
    color:$themeDocumentPen;
    button{

      float: right;

      background: transparent;
     border: none;
      border-radius: 20px;
      &:focus {outline:0;}
      &:hover {
       background-color: lighten($themeDividerColor,10%);

      transition: all 200ms ease;
      }
      &:active { background-color: darken($themeDividerColor,10%);

        transition: all 200ms ease;
      }


    }
    i{
      font-size: 1rem;
    }


  }

}