/** Copyright (c) 2016 LUCIDACIOUS LLC
 SUBJECT TO TERMS OF THE LICENSE AGREEMENT INCLUDED WITH THIS SOFTWARE.
 */
@import 'theme';
@mixin frame-primary() {
  @if $themeStyle == 'flat' {
    background-color: $themeDocumentColor;
    border: solid 2px $themeBrandPrimaryAccent;
    color: $themeBrandPrimaryAccent;

  } @else {
    border:none;
    color: $themeDocumentColor;
    background-color: $themeBrandPrimaryAccent;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  }
}
@mixin frame-primary-hover() {
  @if $themeStyle == 'flat' {
    background-color: $themeBrandPrimaryAccent;
    color:  $themeDocumentColor;
  } @else {

  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }
}
@mixin frame-primary-active() {
  @if $themeStyle == 'flat' {
    background-color: darken($themeBrandPrimaryAccent,10%);
    color:  $themeDocumentColor;
  } @else {
    background-color: darken($themeBrandPrimaryAccent,10%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12)

  }
}
@mixin frame-secondary() {
    background-color: transparent;
    border: none;
    color: $themeBrandPrimaryAccent;

}
@mixin frame-secondary-hover() {

    background-color: $themeBrandPrimaryAccent;
    color:  $themeDocumentColor;

}
@mixin frame-secondary-active() {

    background-color: darken($themeBrandPrimaryAccent,10%);
    color:  $themeDocumentColor;

}
@mixin frame-inverse() {
  background-color: transparent;
  border: solid 2px $themeDocumentInversePen;
  color:  $themeDocumentInversePen;




}
@mixin frame-inverse-hover() {

  background-color: $themeDocumentInversePen;
  color: $themeBrandPrimaryAccent;


}
@mixin frame-inverse-active() {

    background-color: darken($themeDocumentInversePen,10%);
    color: $themeBrandPrimaryAccent;

}
@mixin frame-inverse-secondary() {
  background-color: transparent;
  border: none;
  color:  $themeDocumentInversePen;


}
@mixin frame-inverse-secondary-hover() {

  background-color: $themeDocumentInversePen;
  color: $themeBrandPrimaryAccent;


}
@mixin frame-inverse-secondary-active() {

    background-color: darken($themeDocumentInversePen,10%);
    color: $themeBrandPrimaryAccent;

}

@mixin frame-warning() {
  @if $themeStyle == 'flat' {
  background-color: transparent;
  border: solid 2px $themeWarningAccent;
  color: $themeDocumentPen;
  } @else {
    border: none;
    color: $themeDocumentPen;
    background-color: $themeWarningAccent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  }
}
@mixin frame-warning-hover() {
  @if $themeStyle == 'flat' {
  background-color: $themeWarningAccent;
  } @else {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }

}
@mixin frame-warning-active() {
  @if $themeStyle == 'flat' {
    background-color: darken($themeWarningAccent,10%);
  } @else {
    background-color: darken($themeWarningAccent,10%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12)
  }
}
@mixin menu() {
  @if $themeStyle == 'flat' {
    background-color: $themeDocumentColor;
    border: solid 1px $themeBrandPrimaryAccent;
    color: $themeBrandPrimaryAccent;

  } @else {
    border:none;
    color: $themeBrandPrimaryAccent;
    background-color: $themeDocumentColor;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.12)
  }
}

@mixin menu-hover() {

  background-color: $themeBrandPrimaryAccent;
  color:  $themeDocumentColor;

}

@mixin card() {
  @if $themeStyle == 'flat' {
    background-color: $themeDocumentColor;
    border: solid 1px $themeDividerColor;
    color: $themeBrandPrimaryAccent;
    transition: all 400ms ease;

  } @else {
    border:none;
    color: $themeBrandPrimaryAccent;
    background-color: $themeDocumentColor;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12);
  transition: all 400ms ease;
  }
}
@mixin card-hover() {
  @if $themeStyle == 'flat' {
    background-color: $themeDocumentColor;
    border: solid 1px $themeBrandPrimaryAccent;
    color: $themeBrandPrimaryAccent;
    transition: all 400ms ease;

  } @else {
    border:none;
    color: $themeBrandPrimaryAccent;
    background-color: $themeDocumentColor;
    box-shadow:0 3px 6px 0 rgba(0,0,0,0.16),0 6px 12px 0 rgba(0,0,0,0.12);
  transition: all 400ms ease;
  }
}

@mixin input() {
  @if $themeStyle == 'flat' {
    border: solid 2px $themeDividerColor;

  }
  @else{
    border: none;
    border-bottom: solid 2px $themeDividerColor
  }
  }
@mixin input-focus() {
  @if $themeStyle == 'flat' {
    border: solid 2px $themeBrandPrimaryAccent
  }
  @else{

    border-bottom: solid 2px $themeBrandPrimaryAccent
  }
}
@mixin input-focus-error() {
  @if $themeStyle == 'flat' {
    border: solid 2px $themeDocumentWarningPen
  }
  @else{

    border-bottom: solid 2px $themeDocumentWarningPen !important;
  }
}



@mixin dropdown(){
  @if $themeStyle == 'flat' {
    background-color: $themeDocumentColor;
    border: solid 1px $themeBrandPrimaryAccent;
    color: $themeBrandPrimaryAccent;
  }
  @else{
    border-color:$themeBrandPrimaryAccent;
    color: $themeDocumentInversePen;
    background-color: $themeBrandPrimaryAccent;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

  }

}
@mixin dropdown-arrow(){
  @if $themeStyle == 'flat' {
    border-color: $themeBrandPrimaryAccent transparent;
  }
  @else{
    border-color: $themeDocumentInversePen transparent;
  }

}

@mixin dropdown-hover(){
  @if $themeStyle == 'flat' {
    background-color: $themeBrandPrimaryAccent;
    color:  $themeDocumentInversePen;

  }
  @else{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

  }
}


@mixin dropdown-active(){
  @if $themeStyle == 'flat' {
    background-color: darken($themeBrandPrimaryAccent,5%);
    color:  $themeDocumentInversePen;
  } @else {
    background-color: darken($themeBrandPrimaryAccent,5%);
  }

}

@mixin dropdown-dropdown(){
    @if $themeStyle == 'flat' {
      left: -1px;
      right: -1px;
      border: solid 1px $themeBrandPrimaryAccent
    }
    @else{
      left: 0;
      right: 0;

  }
}




@mixin dropdown-dropdown-active(){
  @if $themeStyle == 'flat' {
    border: solid 1px $themeBrandPrimaryAccent
  }
  @else{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

  }
}

@mixin select-dropdown(){
  @if $themeStyle == 'flat' {
    left: -1px;
    right: -1px;
  }
  @else{
    left: 0;
    right: 0;

  }
}


@mixin modal() {
  @if $themeStyle == 'material' {

    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }

}
@mixin btn-group() {
  @if $themeStyle == 'material' {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  }
}
@mixin btn-group-button() {
  @if $themeStyle == 'flat' {
    border-right: 1px solid $themeBrandPrimaryAccent;
    border-top: solid 2px $themeBrandPrimaryAccent;
    border-bottom: solid 2px $themeBrandPrimaryAccent;
    border-left: none;
  } @else {
    border:none;
    border-right: 1px solid $themeDividerColor;
  }
}


@mixin btn-group-hover() {
  @if $themeStyle == 'material' {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19)
  }
}

@mixin btn-group-first() {
  @if $themeStyle == 'flat' {
    border-left: solid 2px $themeBrandPrimaryAccent;
  }
}
@mixin btn-group-last() {
  @if $themeStyle == 'flat' {
    border-right: solid 2px $themeBrandPrimaryAccent;
  }@else {
    border-right: none;
  }
}