/** Copyright (c) 2016 LUCIDACIOUS LLC
 SUBJECT TO TERMS OF THE LICENSE AGREEMENT INCLUDED WITH THIS SOFTWARE.
 */
@import url(https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700);


$themeBrandFont:   'Muli', sans-serif;
$themeDocumentFont: 'Roboto', sans-serif;  //Used for blocks of text
$themeControlFont:  'Roboto', sans-serif; //Used for labels, buttons, menu items

$themeBackgroundColor: #f5f5f5;
$themeDocumentColor: #ffffff;
$themeDividerColor:#e0e0e0;


$themeDocumentPen:rgba(0,0,0,.8);
$themeDocumentInversePen: rgba(255,255,255,.95);    //if background is opposite of document, use this instead of DocumentPen
$themeDocumentWarningPen: red;      //errors

$themeBrandBackground: #213559;     //Navbar, SideNavbar, gridheaders
$themeBrandPrimaryAccent:#006494;;  //Primary buttons, menu items

$themeWarningAccent: #f9dd92;;      //Warning buttons, menu items

//$themeStyle: "material";
$themeStyle: "flat";


