@import '../styles/mixins';
:local(.styles) {
  font-family:$themeBrandFont;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  text-align:center;

.hero {
  width:100%;
  margin:0;
  padding:0;
  float:left;
  min-height:100%

}

  h1.title {
    color: $themeDocumentInversePen;
    font-size: 60px;
    margin-top: 10%;


  }

  p {
    color: $themeDocumentInversePen;
    font-size: 20px;
  }
}
